html {
    background-color: grey;
}

body {
    margin: 0 auto;
    max-width: 700px;
    height: 100%;
    min-height: 100vh;
    background: $color-background-primary;
}

.outside-spacing {
	margin: 0 1em;

    @include media-query(xs) {
        margin: 0 24px;
    }
}

.bottom-spacing {
    margin-bottom: 14px;
}