html {
    height: 100%;
    background-color: grey;
}

body {
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    background: $color-background-primary;
}

#main-content {
    margin-bottom: 20px;
}