html {
    background-color: grey;
}

body {
    margin: 0 auto;
    max-width: 500px;
    height: 100%;
    min-height: 100vh;
    background: $color-background-primary;
}

#main-content {
    padding-bottom: 20px;
}

.outside-spacing {
	margin: $container-margin
}

.bottom-spacing {
    margin-bottom: 14px;
}