/*Colors*/

//https://css-tricks.com/what-do-you-name-color-variables/
//https://blog.magmalabs.io/2018/04/17/nice-way-handle-sass-color-variables.html

$white: #fff;

$cream-200: #FFFAF1;

$grey-50: #FFFAFF;
$grey-100: #959F94;
$grey-200: #565656;
$grey-600: #252020;
$grey-900: #0E0E0E;

$blue-500 : #00A2F5;

$teal-50: #DAF8F4;
$teal-200: #53EEDA;
$teal-300: #08CFB6;
$teal-400: #07CEB5;
$teal-700: #22A09F;

$orange-500: #FF8D13;

$red-500: #EA0E00;

// Color Assignments
//Fonts
$color-font-primary: $grey-600;
$color-font-primary-darkmode: $white;

$color-logo: $cream-200;

//Backgrounds
$color-background-primary: $white;
$color-background-primary-darkmode: $grey-900;

$color-background-header: $teal-700;
$color-background-header-darkmode: $grey-900;

$color-background-secondary: $teal-50; // (used for forms, etc)
$color-background-secondary-darkmode: $grey-200;

$color-background-tertiary: $cream-200;

//Accents
$color-input-borders: $teal-700;
$color-input-borders-darkmode: $white;

$color-table-borders: $grey-900;
$color-table-borders-darkmode: $white;

$color-button-borders: $grey-900;
$color-button-borders-darkmode: $white;

$color-accent-CTA: $teal-400;
$color-accent-CTA-hover: $teal-200;

$color-accent: $orange-500;
$color-accent-darkmode: $orange-500;

$color-error: $red-500;

$color-cancel: $grey-100;