//Colors

//https://css-tricks.com/what-do-you-name-color-variables/
//https://blog.magmalabs.io/2018/04/17/nice-way-handle-sass-color-variables.html

$white: #fff;
$grey-50: #FAF9F6;
$grey-900: #0E0E0E;

$blue-500 : #00A2F5;

$teal-200: #07CEB5;
$teal-700: #22A09F;

$orange-500: #FF8D13;


// Color assignments
$color-font-primary: $grey-50;
$color-font-secondary : $grey-50;
$color-font-accent: $blue-500;

