// Typography

// Font imports
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Red+Hat+Display:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


// Font Families
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$red-hat: 'Red Hat Display', sans-serif;
$anonymous-pro: 'Anonymous Pro', monospace;

// Font assignments 
$font-family-heading: $poppins;
$font-family-nav: $red-hat;
$font-family-base: $red-hat;
$font-family-CTA: $montserrat;

// Font sizes
$h1-font-sizes: (
	null: (25px, 1.2),
	xs: 25px,
	s: 30px,
	l: 35px,
	xl: 40px,
);

$h2-font-sizes: (
	null: (25px, 1.2),
	xs: 25px,
	l: 30px,
	xl: 40px,
);

$h3-font-sizes: (
	null: (18px, 1.2),
	xs: 18px,
	l: 20px,
	xl: 25px,
);

$p-font-sizes: (
	null: (14px, 1.5),
	m: 16px,
	xl: 20px,
);

$small-font-sizes: (
	null: (12px, 1.5),
	m: 14px,
	xl: 16px,
);

$cta-font-sizes: (
	null: 16px
);

body {
	font-family: $font-family-base;
}


h1, .h1 {
	@include font-size($h1-font-sizes);
	font-family: $font-family-heading;
	color: $color-font-primary;
}

h2, .h2 {
	@include font-size($h2-font-sizes);
	font-family: $font-family-heading;
	color: $color-font-primary;
}

h3, .h3 {
	@include font-size($h3-font-sizes);
	font-family: $font-family-base;
	font-weight: bold;
	color: $color-font-primary;
}

h4, .h4, h5, .h5 {
	margin-bottom: 2px;
	@include font-size($p-font-sizes);
	font-weight: bold;
	font-family: $font-family-base;
}

p, .p, li {
	@include font-size($p-font-sizes);
	font-family: $font-family-base;
	color: $color-font-primary;
}

.cta {
	@include font-size($cta-font-sizes);
	font-family: $font-family-CTA;
	text-transform: uppercase;
	text-decoration: none;
	color: $color-font-secondary;

	&:hover {
		color: $color-font-primary;
	}
}

a:not([class]) {
	font-size: inherit;
	text-transform: none;
	text-decoration: underline;
	color: inherit;
}

