// Typography

// Font imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


// Font Families
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Font assignments 
$font-family-heading: $poppins;
$font-family-nav: $poppins;
$font-family-base: $poppins;
$font-family-accent: $montserrat;

// Font sizes
$h1-font-sizes: (
	null: (25px, 1.2),
	xs: 25px,
	s: 30px,
	l: 35px,
	xl: 40px,
);

$h2-font-sizes: (
	null: (25px, 1.2),
	xs: 25px,
	l: 30px,
	xl: 40px,
);

$h3-font-sizes: (
	null: (18px, 1.2),
	xs: 18px,
	l: 20px,
	xl: 25px,
);

$p-font-sizes: (
	null: (14px, 1.5),
	m: 14px,
	xl: 16px,
);

$label-font-sizes: (
	null: (16px, 1.5),
	m: 18px,
	xl: 22px,
);

$text-input-font-sizes: (
	null: (20px, 1.5)
);

$cta-font-sizes: (
	null: 20px
);

body {
	font-family: $font-family-base;
	color: $color-font-primary;
}


h1, .h1 {
	@include font-size($h1-font-sizes);
	font-family: $font-family-heading;
}

h2, .h2 {
	@include font-size($h2-font-sizes);
	font-family: $font-family-heading;
}

h3, .h3 {
	@include font-size($h3-font-sizes);
	font-family: $font-family-base;
	font-weight: bold;
}

h4, .h4, h5, .h5 {
	margin-bottom: 2px;
	@include font-size($p-font-sizes);
	font-weight: bold;
	font-family: $font-family-base;
}

p, .p, li{
	@include font-size($p-font-sizes);
	font-family: $font-family-base;
}

label {
	@include font-size($label-font-sizes);
	font-family: $font-family-base;
	font-weight: 600;
}

input {
	@include font-size($text-input-font-sizes);
	font-family: $font-family-base;
	font-weight: 600;
}

.error {
	@include font-size($p-font-sizes);
	font-family: $font-family-accent;
	font-weight: 500;
}

.cta {
	@include font-size($cta-font-sizes);
	font-family: $font-family-accent;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: $color-font-primary;

	&:hover {
		color: $color-font-primary;
	}
}

a:not([class]) {
	font-size: inherit;
	text-transform: none;
	text-decoration: underline;
	font-weight: 600;
	color: inherit;
}

