.button {
    $this: &;

    cursor: pointer;
    border-radius: 100px;
    border: 2px solid transparent;
    width: 210px;
    height: 60px;

    &--submit {
        background-color: $color-accent-CTA;
    }

    &--warning {
        background-color: $color-font-error;
    }

}