.tab {
    display: block;
    border: 2px solid $color-input-borders;
    border-radius: 10px;
    padding: 10px;
    transition: $transition;

    &:hover {
        background-color: $color-background-secondary;
    }
}