.analysis {

    &__chart-title {
        text-align: center;
    }

    &__chart {
        position: relative;
        height: 500px;
    }

    &__data-split {
        display: flex;
        gap: 10px;
    }
}