.history {
    padding: 0 24px;

    &__button-row {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    &__results {
        margin-bottom: 25px;
    }
}

.toggle-month-year {
    position: relative;
    display: block;
    margin: 14px auto;
    width: 130px;
    height: 40px;
    cursor: pointer;

    input {
        content: '';
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        border: 2px solid $color-input-borders;
        border-radius: 100px;
        transition: $transition;
        width: 100%;
        height: 100%;
        background-color: $color-background-secondary;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 2px;
            transition: $transition;
            box-sizing: border-box;
            border: 2px solid transparent;
            border-radius: 100px;
            width: 64px;
            height: 32px;
            background-color: $color-accent-CTA;
        }
    }

    input[value='true']+&__slider:before {
        transform: translateX(58px);
    }

    &__labels {
        position: absolute;
        top: 11px;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-in-out;

        &::after {
            content: 'YEAR';
            position: absolute;
            right: 28px;
        }

        &::before {
            content: 'MONTH';
            position: absolute;
            left: 6px;
        }
    }
}

.bm-tab {
    border: 2px solid $color-input-borders;
    border-radius: 10px;
    background-color: $color-background-secondary;
    width: 100%;
    
    
    &__wrapper {
        margin-bottom: 5px;
    }

    &__content {
        align-items: center;
        display: inline-grid;
        grid-template-columns: 60px auto 60px;
        width: 100%;
        
    }

    &__image {
        grid-column: 1/2;
        display: flex;
        align-items: center;
        margin-left: 8px;
        border: 2px solid $color-table-borders;
        border-radius: 10px;
        width: 46px;
        height: 45px;
        background-color: $color-background-primary;
        svg {
            width: 100%;
        }
    }

    &__data {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 10px;
    }

    &__button-row {
        grid-column: 3;
    }
}